@import url('https://fonts.googleapis.com/css2?family=Alice&family=Indie+Flower&family=Lavishly+Yours&family=Lobster&family=M+PLUS+Rounded+1c&family=Noto+Sans+JP:wght@100..900&display=swap');
@import "tailwindcss";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

/* @link https://utopia.fyi/type/calculator?c=360,18,1.2,3200,32,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  font-size: 16px;
  --step--2: clamp(0.7813rem, 0.718rem + 0.281vw, 1.28rem);
  --step--1: clamp(0.9375rem, 0.8535rem + 0.3732vw, 1.6rem);
  --step-0: clamp(1.125rem, 1.0141rem + 0.493vw, 2rem);
  --step-1: clamp(1.35rem, 1.2042rem + 0.6479vw, 2.5rem);
  --step-2: clamp(1.62rem, 1.4292rem + 0.8479vw, 3.125rem);
  --step-3: clamp(1.944rem, 1.6953rem + 1.1055vw, 3.9063rem);
  --step-4: clamp(2.3328rem, 2.0096rem + 1.4366vw, 4.8828rem);
  --step-5: clamp(2.7994rem, 2.3805rem + 1.8615vw, 6.1035rem);
}

.color-for-checking-only {
    /* Original cornquest color by ikki77 : CornQuest / NYCornQuest developer */
    /* Renamed to osmanthus */
    --color-cornquest-orange: oklch(0.8333 0.1618 82.97);
    /* Renamed to offwhite */
    --color-cornquest-white: oklch(0.9465 0.0055 274.96);
    /* Renamed to darkgreyblue */
    --color-cornquest-darkblue: oklch(0.2744 0.031 268.43);
    /* renamed to blazered */
    --color-cornquest-red: oklch(0.6356 0.2395 27.51);
    /* Used for darkblue */
    --royaldressblue: oklch(21.683% 0.12495 263.989);
    /* --color-blue-700 used for blazeblue*/
    --blzblu: oklch(48.8% 0.243 264.376);
    /* Color-orange-100 used for lightosmanthus */
    --lightosm: oklch(95.4% 0.038 75.164); 
    /* Grey List */
    --color-gray-50: oklch(0.985 0.002 247.839);
    --color-gray-100: oklch(0.967 0.003 264.542);
    --color-gray-200: oklch(0.928 0.006 264.531);
    --color-gray-300: oklch(0.872 0.01 258.338);
    --color-gray-400: oklch(0.707 0.022 261.325);
    --color-gray-500: oklch(0.551 0.027 264.364);
    --color-gray-600: oklch(0.446 0.03 256.802);
    --color-gray-700: oklch(0.373 0.034 259.733);
    --color-gray-800: oklch(0.278 0.033 256.848);
    --color-gray-900: oklch(0.21 0.034 264.665);
    --color-gray-950: oklch(0.13 0.028 261.692);
}

@theme {
    --color-fbksite-osmanthus: oklch(0.8333 0.1618 82.97);
    --color-fbksite-offwhite: oklch(0.9465 0.0055 274.96);
    --color-fbksite-darkblue: oklch(21.683% 0.12495 263.989);
    --color-fbksite-darkgreyblue: oklch(0.2744 0.031 268.43);
    --color-fbksite-blazered: oklch(0.6356 0.2395 27.51);
    --color-fbksite-blazeblue: oklch(48.8% 0.243 264.376);
    --color-fbksite-lightosmanthus: oklch(95.4% 0.038 75.164); 

    --color-navbar-light: oklch(95.4% 0.038 75.164);
    --color-footer-light: var(--color-fbksite-osmanthus);
    --color-navbar-dark: oklch(21.683% 0.12495 263.989);
    --color-footer-dark: var(--color-fbksite-darkgreyblue);

    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
    
    --color-gray-50: oklch(0.985 0.002 247.839);
    --color-gray-100: oklch(0.967 0.003 264.542);
    --color-gray-200: oklch(0.928 0.006 264.531);
    --color-gray-300: oklch(0.872 0.01 258.338);
    --color-gray-400: oklch(0.707 0.022 261.325);
    --color-gray-500: oklch(0.551 0.027 264.364);
    --color-gray-600: oklch(0.446 0.03 256.802);
    --color-gray-700: oklch(0.373 0.034 259.733);
    --color-gray-800: oklch(0.278 0.033 256.848);
    --color-gray-900: oklch(0.21 0.034 264.665);
    --color-gray-950: oklch(0.13 0.028 261.692);

    --color-primary-50: #fff5f2;
    --color-primary-100: #fff1ee;
    --color-primary-200: #ffe4de;
    --color-primary-300: #ffd5cc;
    --color-primary-400: #ffbcad;
    --color-primary-500: #fe795d;
    --color-primary-600: #ef562f;
    --color-primary-700: #eb4f27;
    --color-primary-800: #cc4522;
    --color-primary-900: #a5371b;

    --color-secondary-50: #f0f9ff;
    --color-secondary-100: #e0f2fe;
    --color-secondary-200: #bae6fd;
    --color-secondary-300: #7dd3fc;
    --color-secondary-400: #38bdf8;
    --color-secondary-500: #0ea5e9;
    --color-secondary-600: #0284c7;
    --color-secondary-700: #0369a1;
    --color-secondary-800: #075985;
    --color-secondary-900: #0c4a6e;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}

.m-plus-rounded-1c-light {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.m-plus-rounded-1c-bold {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.noto-sans-jp-100 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.noto-sans-jp-200 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.noto-sans-jp-300 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.noto-sans-jp-400 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-jp-600 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.noto-sans-jp-700 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.noto-sans-jp-800 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.noto-sans-jp-900 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.alice-light {
  font-family: "Alice", serif;
  font-weight: 300;
  font-style: normal;
}

.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}

.alice-bold {
  font-family: "Alice", serif;
  font-weight: 700;
  font-style: normal;
}

.lobster-light {
  font-family: "Lobster", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lobster-bold {
  font-family: "Lobster", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lavishly-yours-regular {
  font-family: "Lavishly Yours", cursive;
  font-weight: 800;
  font-style: normal;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0a0e11;
    color: #bac1d4;
}

html {
    overflow-y: scroll;
}

/* Dark is copied from CornQuest website, ikki77's creation */
.bg-image-transparent-dark {
    background-image: linear-gradient(rgba(17, 21, 34, 0.281), 
      rgba(33, 39, 55, 0.918)), url("/smolCorn.webp");
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
    opacity: 0.8;
}

.bg-image-fbkingdom-vista {
    background-image: url("lib/fbkwebsite/assets/stage_bg_ef fbkingdom.hololivepro.webp");
    background-repeat: no-repeat;
}

.bg-image-paper {
    background-image: url("lib/fbkwebsite/assets/paper-blank-02-canva-ai.jpg");
    background-size: cover;
}

.stamp-image {
    transform: rotate(-45deg);
}

.stamp-border-image {
  background-color: #f1ece6;
    border: 10px solid transparent;
    border-image: url("lib/fbkwebsite/assets/orig-ai-gen.png") 120 round;
}

.rotate-journey-left {
    transform: rotate(-7deg) scale(50%);
}

.rotate-journey-right {
    transform: rotate(7deg) scale(50%);
}

.fbkingdom-novel-translation {
  /* Referenced from syosetu.com (note that I can only test Meiryo because I'm a Windows user, 
  and I don't have Mac */
  font-family: "メイリオ",Meiryo,"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",sans-serif;
}

@keyframes keyframe-go-up-and-disappear {
  from{
    transform: translateY(0%);
    height: 100vh;
  }
  to{
    transform: translateY(-100%);
    height: 0vh;
  }
}

@keyframes keyframe-drop-and-open-letter {
  from{
    transform: translateY(0%) scale(30%);
  }
  50%{
    transform: translateY(50%) scale(30%);
  }
  to{
    transform: translateY(0%) scale(100%);
  }
}

.animation-go-up {
  animation-name: keyframe-go-up-and-disappear;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.animation-drop-and-open-letter {
  animation-name: keyframe-drop-and-open-letter;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
